body {
	background: url(http://subtlepatterns.com/patterns/small_steps.png);
	text-align: center;
}

.templateForm {
	text-align: left;
}

textarea {
	resize: none;
}

.backButton {
	margin-top: 22px;
	margin-bottom: 11px;
}
