<br/>
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1> Welcome, admin! </h1>
			<p> Do stuff here... </p>
		</div>
	</div>
</div>
<br/>
<div class="well well-lg text-center">
	<div class="row">
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" ng-click="goToCreateTemplateView()">Create Evaluation Template</button>
		</div>
		<div class="col-md-4">
			<a type="button" class="btn btn-primary" ui-sref="templateOverview">List of all Templates</a>
		</div>
		<div class="col-md-4">
			<a ui-sref="evaluationResults" class="btn btn-primary">View Evaluation Results</a>
		</div>
	</div>
</div>