<div class="row">
	<div class="col-md-12">
		<h1> Create a template </h1>
	</div>
</div>

<div class="well well-lg">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 templateForm">
			<form ng-submit="sendTemplate()">
				<div class="form-group">
					<label for="inputTemplateTitle">Title:</label>
					<input required ng-model="template.Title" type="text" class="form-control" id="inputTemplateTitle" placeholder="Enter template title">
				</div>
				
				<div class="form-group">
					<label for="englishInputTemplateTitle">Title (english):</label>
					<input ng-model="template.TitleEN" type="text" class="form-control" id="englishInputTemplateTitle" placeholder="Enter template title in english">
				</div>
				
				<div class="form-group">
					<label for="evalIntroText">Intro Text:</label>
					<textarea required ng-model="template.IntroText" rows="5"cols="10" class="form-control" id="evalIntroText" placeholder="Enter the intro text"></textarea>
				</div>
				
				<div class="form-group">
					<label for="englishEvalIntroText"> Intro Text (english): </label>
					<textarea ng-model="template.IntroTextEN" rows="5"cols="10" class="form-control" id="englishEvalIntroText" placeholder="Enter the intro text in english"></textarea>
				</div>
				
				<div class="form-group">
					<label>Course Questions: </label>
				</div>
				
				<div class="well" ng-if="template.CourseQuestions.length === 0">There are no course questions!</div>
				
				<div class="form-group" ng-repeat="question in template.CourseQuestions">

					<h4>Question {{question.ID + 1}}, {{question.Type}}:</h4>

					<!-- IF QUESTION IS OF TYPE TEXT -->
					<div class="form-group">
						<input ng-model="courseQuestionText" type="text" class="form-control" placeholder="Type question {{question.ID + 1}} here">
					</div>

					<!-- IF QUESTION IS OF TYPE SINGLE OR MULTIPLE -->
					<div ng-if="question.Type !== 'text'" class="col-md-offset-1">
						<div class="form-group">
							<div class="well well-sm" ng-if="question.Answers.length === 0">
								Press the plus sign to add an answer!
							</div>
							<div class="well" ng-repeat="answer in question.Answers">
								<h5>Answer {{answer.ID + 1}}:</h5>
								<div class="form-group">
									<label>Text:</label>
									<input ng-model="answer.Text" type="text" class="form-control" placeholder="Type answer {{answer.ID + 1}} to question {{question.ID + 1}} here">
								</div>
								<div class="form-group">
									<label>Text (english):</label>
									<input ng-model="answer.TextEN" type="text" class="form-control" placeholder="Again in english">
								</div>
								<div class="form-group">
									<label>Image URL:</label>
									<input ng-model="answer.ImageURL" type="text" class="form-control" placeholder="Enter the image URL">
								</div>
								<div class="form-group">
									<label>Weight:</label>
									<rating ng-model="answer.Weight" max="5" state-on="'glyphicon glyphicon-asterisk'" state-off="'glyphicon glyphicon-minus'"></rating>
								</div>
							</div>
						</div>
						<button type="button" class="glyphicon glyphicon-plus btn-primary" ng-click="addAnswer(question)"></button>
					</div>

				</div>
				
				<div class="form-group">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
						Add Question <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" ng-click="addCourseQuestion(questionTypes[0])">Text</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="addCourseQuestion(questionTypes[1])">Single</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="addCourseQuestion(questionTypes[2])">Multiple</a></li>
						</ul>
					</div>
				</div>
				
				<div class="form-group">
					<label for="evalIntroText">Teacher Questions: </label>
				</div>
				
				<div class="form-group" ng-repeat="question in template.TeacherQuestions">

					<h4>{{question.ID + 1}}, {{question.Type}}:</h4>

					<!-- IF QUESTION IS OF TYPE TEXT -->
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Type question here">
					</div>

					<!-- IF QUESTION IS OF TYPE SINGLE OR MULTIPLE -->
					<div ng-if="question.Type !== 'text'" class="col-md-offset-1">
						<div class="form-group">
							<div class="well well-sm" ng-if="question.Answers.length === 0">
								Press the plus sign to add an answer!
							</div>
							<div class="well" ng-repeat="answer in question.Answers">
								<h5>Answer {{answer.ID + 1}}:</h5>
								<div class="form-group">
									<label>Text:</label>
									<input ng-model="answer.Text" type="text" class="form-control" placeholder="Type answer {{answer.ID + 1}} to question {{question.ID + 1}} here">
								</div>
								<div class="form-group">
									<label>Text (english):</label>
									<input ng-model="answer.TextEN" type="text" class="form-control" placeholder="Again in english">
								</div>
								<div class="form-group">
									<label>Image URL:</label>
									<input ng-model="answer.ImageURL" type="text" class="form-control" placeholder="Enter the image URL">
								</div>
								<div class="form-group">
									<label>Weight:</label>
									<rating ng-model="answer.Weight" max="5" state-on="'glyphicon glyphicon-asterisk'" state-off="'glyphicon glyphicon-minus'"></rating>
								</div>
							</div>
						</div>
						<button type="button" class="glyphicon glyphicon-plus btn-primary" ng-click="addAnswer(question)"></button>
					</div>
				</div>
				
				<div class="form-group">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
						Add Question <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" ng-click="addTeacherQuestion(questionTypes[0])">Text</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="addTeacherQuestion(questionTypes[1])">Single</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="addTeacherQuestion(questionTypes[2])">Multiple</a></li>
						</ul>
					</div>
				</div>
				<hr/>
				<button type="submit" class="btn btn-success">Create Template</button>
			</form>
		</div>
	</div>
</div>