<div class="form-group QuestionDirectiveClass">

	<div class="row">
		<div class="col-md-12 text-left">
			<h4>{{question.ID}}</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 text-left">
			<p>{{question.Text}}</p>
			<p>
				<i> - {{question.TextEN}} </i>
			</p>
		</div>

		<div class="col-md-3">
			<img ng-if="answer.ImageURL !== ''" ng-src="{{question.ImageURL}}" class="QuestionDirectiveIMG"/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" ng-if="question.Type === 'text'">
			<textarea class="form-control" rows="4" placeholder="Type your answer here"></textarea>
		</div>
	</div>

	<div class="row">

		<div ng-if="question.Type === 'single'" class="col-md-5 btn-group-vertical">
			<label ng-repeat="answer in question.Answers" class="btn btn-default">
				<input type="radio" name="radioQuestion" value="{{answer.ID}}"/>
				{{answer.ID}}  -  {{answer.Text}}
				<i> - {{answer.TextEN}}</i>
				<img ng-if="answer.ImageURL !== ''" ng-src="{{answer.ImageURL}}" class="QuestionDirectiveAnsIMG"/>
			</label>
		</div>

		<div ng-if="question.Type === 'multiple'" class="col-md-5 btn-group-vertical">
			<label ng-repeat="answer in question.Answers" class="btn btn-default">
				<input type="checkbox" name="checkboxQuestion" value="{{answer.ID}}"/>
				{{answer.ID}} - {{answer.Text}}
				<i> - {{answer.TextEN}}</i>
				<img ng-if="answer.ImageURL !== ''" ng-src="{{answer.ImageURL}}" class="QuestionDirectiveAnsIMG"/>
			</label>
		</div>

	</div>

</div>