<div class="row">
	<div class="col-md-1">
		<a ui-sref="templateOverview" class="btn btn-primary backButton"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
	</div>
	<div class="col-md-10 text-center page-header">
		<h1> {{template.Title}} -- {{template.TitleEN}} </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<a ng-click="createEvaluation = true" ng-hide="createEvaluation" class="btn btn-success btn-lg btn-block">Create Evaluation From This Template</a>
		<a ng-click="createEvaluation = false" ng-show="createEvaluation"class="btn btn-danger btn-lg btn-block">Cancel Evaluation Creation</a>
	</div>
</div>
<hr/>
<div class="row" ng-show="createEvaluation">
	<div class="col-md-4 col-md-offset-4 well well-lg">
		<label>Start Date:</label>
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startOpened" min-date="minDate" max-date="'2030-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
		<label>End Date:</label>
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endOpened" min-date="minDate" max-date="'2030-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
		<a ng-click="showDates()"class="btn btn-success">Create Evaluation</a>
	</div>
</div>
<div class="row text-center well">
	<div class="col-md-6">
		<h3> Intro Text - Icelandic </h3>
		<hr/>
	</div>
	<div class="col-md-6">
		<h3> Intro Text - English </h3>
		<hr/>
	</div>
	<div class="col-md-6 customHeightBox">
		<p>{{template.IntroText}}</p>
	</div>
	<div class="col-md-6 customHeightBox">
		<p>{{template.IntroTextEN}}</p>
	</div>
</div>

<div class="row well">
	<div class="col-md-12 text-center">
		<h3> Course Questions </h3>
	</div>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Text</th>
					<th>Text - English</th>
					<th>Image URL</th>
					<th>Type</th>
					<th>Answers</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in template.CourseQuestions">
					<td>{{question.ID}}</td>
					<td>{{question.Text}}</td>
					<td>{{question.TextEN}}</td>
					<td>{{question.ImageURL}}</td>
					<td>{{question.Type}}</td>
					<td>TODO</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row well">
	<div class="col-md-12 text-center">
		<h3> Teacher Questions </h3>
	</div>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Text</th>
					<th>Text - English</th>
					<th>Image URL</th>
					<th>Type</th>
					<th>Answers</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in template.TeacherQuestions">
					<td>{{question.ID}}</td>
					<td>{{question.Text}}</td>
					<td>{{question.TextEN}}</td>
					<td>{{question.ImageURL}}</td>
					<td>{{question.Type}}</td>
					<td>TODO: View Answers</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>